<h3 class="text-muted" style="margin-top:0;">{{layer.title}} {{titleSuffix}}</h3>

<ng-map 
  zoom="{{zoom}}" 
  center="{{center}}"
  scrollwheel="false"
  zoom-to-include-markers="true">
</ng-map>

<div class="pc-map-legend">

  <h5 ng-bind-html="legendTitle"></h5>

  <div ng-if="legend == 'buttonbar'" class="btn-toolbar" role="toolbar"><div class="btn-group">
    <button ng-repeat="item in layers" 
      type="button" class="btn btn-default" aria-label="{{item.title}}"
      ng-class="item == layer ? 'active' : ''" 
      ng-click="changeLayer(item)">
      <i class="fa fa-fw {{item.icon}}" />
    </button>
  </div></div>

  <ul ng-if="legend == 'list'" class="nav nav-stacked">
    <li ng-repeat="item in layers"><a title="{{item.title}}"><i class="fa fa-fw {{item.icon}}" /> <span ng-bind-html="item.title"></span></a></li>
  </ul>

</div>